# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.expo
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
